<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>interView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC312C011C7AFB48004A6A9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC312C1D1C7AFB48004A6A9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC312C281C7AFB48004A6A9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
