<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<dict>
			<key>day</key>
			<string>14</string>
			<key>hour</key>
			<string>0</string>
			<key>min</key>
			<string>0</string>
			<key>month</key>
			<string>2</string>
			<key>year</key>
			<string>2015</string>
		</dict>
		<key>identifer</key>
		<integer>0</integer>
		<key>repeat</key>
		<string>0</string>
		<key>title</key>
		<string>情人节</string>
	</dict>
	<dict>
		<key>date</key>
		<dict>
			<key>day</key>
			<string>20</string>
			<key>hour</key>
			<string>0</string>
			<key>min</key>
			<string>0</string>
			<key>month</key>
			<string>5</string>
			<key>year</key>
			<string>2015</string>
		</dict>
		<key>identifer</key>
		<integer>1</integer>
		<key>repeat</key>
		<string>0</string>
		<key>title</key>
		<string>网络情人节</string>
	</dict>
	<dict>
		<key>date</key>
		<dict>
			<key>day</key>
			<string>20</string>
			<key>hour</key>
			<string>0</string>
			<key>min</key>
			<string>0</string>
			<key>month</key>
			<string>8</string>
			<key>year</key>
			<string>2015</string>
		</dict>
		<key>identifer</key>
		<integer>2</integer>
		<key>repeat</key>
		<string>0</string>
		<key>title</key>
		<string>七夕节</string>
	</dict>
</array>
</plist>
